{% extends 'blog/base.html' %}

{% block content %}
            {% for blog in blogs %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ blog.published_date }}</p>
                    </div>
                    <h1><a href="{% url 'post_detail' pk=blog.pk %}">{{ blog.title }}</a></h1>
                    <p>{{ blog.text|linebreaksbr }}</p>
                    <hr>
                </div>
            {% endfor %}
          {% endblock %}